# Base app URL (adjust for local dev)
NEXTAUTH_URL="http://localhost:4200"

# Secret for JWT/cookies (generate via: npx auth secret)
NEXTAUTH_SECRET="ZeYWyU9MMtRnneQTl2O2KXx9fZBqvY9VGy2jkOOcs+Q="

# Auth0 settings (replace with your tenant details)
AUTH0_ISSUER="https://stg-login.moe.gov.ae"
AUTH0_CLIENT_ID="moe.parents.consent"
AUTH0_CLIENT_SECRET=""